.page-header {
  background-color: var(--text-color-1);
  border-bottom: 1px solid #ececec;
}
.page-header__conteiner {
  display: flex;
  align-items: center;
}
.contact__list {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  @extend %list;
}
.contact__item + .contact__item {
  margin-left: 50px;
}
.contact-icon {
  margin-bottom: 0;
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
}
.contact__link {
  display: flex;
  align-items: center;
}
.contact__item {
  transition: fill 250ms var(--timing-function),
    stroke 250ms var(--timing-function);
}
.contact__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* Navigation */

.navigation__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    position: relative;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__link--current {
  color: var(--accent-color);
  position: relative;

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    margin: 0%;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
  }
}
.navigation__list {
  display: flex;
  @extend %list;
}
